{% extends "layout.html" %}
{% block header %}
<h1 class="text-center py-3">Caesar encrypt</h1>
{% endblock header %}
{% block content %}
   <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
          <a href="/Caesar_decrypt" class="btn btn-warning mb-4">Go to Caesar decrypt</a>
    </div>
   <form action="/Caesar_encrypt" method="post">
       <div class="row g-2">
            <div class="col-md-9">
                <div class="form-floating">
                  <input type="text" class="form-control" name="plaintxt" id="floatingInput" placeholder="Input plaintext here!" value="{{ text }}">
                  <label for="floatingInput">Plaintext</label>
                </div>
            </div>
           <div class="col-md-3">
                <div class="form-floating">
                  <input type="text" class="form-control" name="keytxt" id="floatingInputKey" placeholder="Input key here!" value="{{ key }}">
                  <label for="floatingInputKey">Key</label>
                </div>
            </div>
       </div>
           <div class="d-grid gap-2 mt-2">
              <input type="submit" class="btn btn-info" value="Encrypt">
            </div>
   </form>

    {% if error: %}
            <div class="alert alert-danger mt-2" role="alert">
                <p class="text-break">{{ error }}</p>
            </div>
    {% endif %}

    {% if data: %}
        <div class="alert alert-success mt-2" role="alert">
            <p class="text-break">{{ data }}</p>
        </div>
    {% endif %}
{% endblock %}